body {
    background: radial-gradient(circle, #b537c4e0, #2c0241);
    font-family: serif;
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0 2%;
    overflow: hidden;
    background-color: #0a0009cc;
}

ul.topnav li { float: left; }

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li.right { float: right; }

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown { display: inline-block; }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
}

.right:hover .dropdown-content { display: block; }

.dropdown-content a:hover {
    background-color: #b537c4e0;
    color: black;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.page-name {
    color: white;
    display: flex;
}

.page-name img {
    width: 50px;
    height: 55px;
}

.name {
    font-size: 250%;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.user-name {
    font-size: 125%;
    display: flex;
    margin: auto;
}

.icon {
    color: white;
    padding: 2% 6%;
}

.list-details {
    color: white;
    display: flex;
    margin: 3% 2%;
}

.list-left {
    display: flex;
    float: left;
    width: 93%;
}

.list-name, .vl, .list-note, .edit-icon, .share-icon { margin: auto 4% auto 1%; }

.list-name {
    font-size: 200%;
    font-weight: bold;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vl {
    border-left: 5px solid white;
    height: 100%;
}

.list-note {
    font-size: 125%;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-icon, .add-icon, .item-icon, .share-icon {
    font-size: 175%;
    background: none;
    border: none;
    color: white;
}

.list-right {
    display: flex;
    float: right;
    width: 5%;
}

.add-icon { font-size: 300%; }

.items {
    margin: auto;
}

.item-card {
    background-color: #e8dfecc4;
    margin: 2%;
    padding: 2% 4%;
    border-radius: 5px;
    font-weight: bold;
}

.card-top {
    margin: 0 0 1% 0;
    display: flex;
}

.item-name {
    font-size: 150%;
    margin-right: 2%;
    color: #55176f;
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-url {
    margin: auto;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-url a {
    color: #cc0eb5;
}

.item-detail {
    margin: auto 5% auto auto;
    background-color: #4f4b5085;
    padding: 1%;
    border-radius: 5px;
}

.item-lbl {
    font-size: 120%;
    margin-right: 1%;
}

.item-icon {
    float: right;
    color: #55176f;
    margin: 0 0 0 4%;
}